<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
  <a class="navbar-brand fw-bold" href="/">Trip Travels</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'travels' %}">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'my_bookings' %}">My Bookings</a></li>
    </ul>

    <ul class="navbar-nav">
      {% if user_name %}
        <li class="nav-item">
            <span class="nav-link text-white">Hi, {{ user_name }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>