{% extends "bootstrap.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card shadow p-4">
            <form method="POST">
                {% csrf_token %}

                
                <input type="text"  class="form-control mb-3" name="h_name" placeholder="Enter your Name">
                
                <input type="email" class="form-control mb-3" name="h_email" placeholder="Enter your Email">
                
                <input type="text" class="form-control mb-3" name="Address" placeholder="Enter your address">
                
                <input type="date" class="form-control mb-3" name="check_in" placeholder="check_in">

                
                <input type="date" class="form-control mb-3" name="check_out" placeholder="check_out">
                
                <input class="form-control mb-3" type="number" name="guests" placeholder="guests">
                <br>
                <button class="btn btn-primary w-100" type="submit">Confirm Booking</button>
            </form>
    
        </div>
    </div>
</div>

{% endblock %}

